._biografia{
    margin:0 1%;
}.biografia_ {
    margin: auto;
}

.estopa_ {
    margin: 0 50px; 
    text-align: justify;
}

.contenedor-fotoInicio {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    height: 50%; /* Ajustar la altura al 50% del contenedor */
    display: flex;
    justify-content: space-between; /* Distribuir los elementos horizontalmente */
    align-items: center;
}

.fotoInicio, .fotoInicio2 {
    width: 45%; /* Ambos elementos ocupan el 45% del ancho del contenedor */
    height: 100%; /* Ambos elementos ocupan el 100% de la altura del contenedor */
    padding: 0; /* Eliminar cualquier relleno */
    margin: 0 2.5%; /* Margen horizontal de 2.5% */
    box-sizing: border-box; /* Incluir el relleno y el borde en el ancho total */
}
.fotoInicio:hover, .fotoInicio2:hover {
    transition: all 0.6s ease;
    filter: brightness(120%);
    opacity: 0.8;
}

.contenedor-texto {
    padding: 15px;
    color: #9799A6;
    text-align: justify;
    transition: 0.5s;
    border-bottom: 1px solid #9799A6;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
    border: 1px solid #9799A6;
}

.integrantes {
    margin: auto;
}

.DavidMuñoz,.JoseMuñoz {
    display: flex;
    flex-direction: row; /* Cambiado de flex-direction: row a flex-direction: column */
    align-items:center; /* Centrar los elementos verticalmente */
    margin: 40px 0;
}

.davidMuñoz{
    text-align:start;
}
.joseMuñoz {
    text-align: end;
}
.bannerDavid,.bannerJose {
    max-width: 40%;
    max-height: 40%;
    padding: 0; /* Cambiado el padding-left y padding-right a 10px */
    margin: 0 60px; /* Cambiado el margin-left y margin-right a 60px */
}

.textoDavid, .textoJose{
    color: #9799A6;
}
.textoDavid {
    justify-content: flex-start;
}
.textbox {
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: #9799A6;
    text-align: justify;
    transition: 0.5s;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
    border: 1px solid #9799A6;
    padding-left: 20px;
    padding-right: 20px; /* Agregado padding-right */

}
@media (max-width: 1024px){
    .estopa_ {
        flex-direction: row;
    }
    .contenedor-fotoInicio{
        flex-direction: row;
    }
    .fotoInicio, .fotoInicio2 {
        width: 50%; 
    }
}
@media (max-width: 768px){
    .contenedor-fotoInicio{
        flex-direction: column;
    }
    .fotoInicio, .fotoInicio2 {
        width: 100%; 
    }
    .DavidMuñoz,.JoseMuñoz{
        flex-direction: column;
        align-items: center;
    }
    .davidMuñoz, .joseMuñoz{
        text-align: center;
    }
    .JoseMuñoz{
        flex-direction: column-reverse;
    }
}

@media (max-width: 480px) {
    .estopa_ {
        flex-direction: column;
        margin: 0;
    }
    .contenedor-fotoInicio{
        flex-direction: column;
    }
    .fotoInicio, .fotoInicio2 {
        width: 100%; 
    }
    .DavidMuñoz,.JoseMuñoz{
        flex-direction: column;
        align-items: center;
    }
    .JoseMuñoz{
        flex-direction: column-reverse;
    }
    .davidMuñoz, .joseMuñoz{
        text-align: center;
    }
}



